ul {
  list-style: none;
  /* padding: 0; */
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cursor-change:hover{
  cursor: pointer;
}

.bg-color{
  background-color: lavender;
  border-radius: 5px;
}


.sub-menu-list li {
  color: inherit;
}

.sub-menu-list li:hover {
  cursor: pointer;
}


.mb-10{
  margin-bottom: 10px;
}

.mt-10{
  margin-top: 10px;
}

/* custom switch */
.custom-switch input[type="checkbox"] {
  background-color: white; /* Ganti dengan warna latar belakang yang diinginkan */
}

.custom-switch input[type="checkbox"]:checked {
  background-color: #3F6260; /* Ganti dengan warna latar belakang yang diinginkan ketika switch dicentang */
  border: inherit;
}

/* Styling CSS untuk komponen background-overlay */
.background-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  overflow: hidden; /* Agar elemen anak yang melebihi ukuran tidak terlihat */
  z-index: -1;
}

.footer {
  position: relative;
  bottom: 0;
}


.custom-bg-color {
  background-color: #CECECE; /* Ganti dengan warna yang diinginkan */
}


/* Media query untuk tampilan mobile */
@media only screen and (max-width: 767px) {
  .footer {
    position: relative;
  }
}
